/*------------------------------------*\
  Elements > Page
\*------------------------------------*/

body {
  direction: ltr;
  color: $color-text;
  font-size: $type-md;
  font-family: $type-sans-serif;
  line-height: $line-height-base;
  background-color: $bg-color;

  -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}