<footer class='c-footer'>
  <div class='o-grid'>
    <div class='o-grid__col o-grid__col--4-4-s'>
      {{> social-icons }}
    </div>

    <div class='o-grid__col o-grid__col--4-4-s u-mt-16'>
      <div class='u-type-xs c-footer__copyright'>
        &copy; {{ date format='YYYY' }} {{ @site.title }} -
        {{{t 'Published with {ghostLink} & {themeLink}' ghostLink='<a href=\'https://ghost.org\'>Ghost</a>' themeLink='<a href=\'http://bit.ly/theme-hue\'>Hue</a>' }}}
      </div>
    </div>
  </div>
</footer>