/*------------------------------------*\
  Trumbs > Colors
\*------------------------------------*/

.u-color-white {
  color: $color-white;
}

.u-color-gray {
  color: $color-gray;
}

.u-color-error {
  color: $color-error;
}

.u-color-success {
  color: $color-success;
}

.u-bg-gray {
  background-color: $bg-gray;
}